/* .slider{
    height:100vh;
} */

*{
    margin:0;
    padding:0;
    --box-shadow-color1: #cdced1;
    --box-shadow-color2: #fff;
}

.slider img{
    height:400px;
}


.navbar{
    position: sticky !important;
    top:0px ;
    left:0px ;
    /* background: #000 !important; */
    /* color: red; */
    z-index: 9999;
}

.productsss-container .card{
    width: 330px;
    height: 500px;
    align-items: center;
    /* padding: 2px; */
    padding-top: 6px;
    box-shadow: 10px 7px 20px var(--box-shadow-color1),-13px -13px 20px var(--box-shadow-color2)  ;
    border: 0.5px solid #cdced1;
              
}

.productsss-container .image-container{
    max-width: 150px;
}

.productsss-container .image-container img{
    width: 100%;
}
.productsss-container .card-title {
    color: red;
}

.productsss-container .card .button{
    position: absolute;
    bottom: 10px;
    width: 70%;
    margin: 0px auto 2px ;
} 
.productsss-container .card .buyButton{
    position: absolute;
    bottom: 70px;
    width: 70%;
    margin: 0px auto 2px ;
} 



.productsss-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;

    /* grid-gap: 30px ; */

    /* grid-auto-rows: minmax(100px,auto) ; */
    /* grid-auto-rows: 1000px; */
}





@media (min-width:800px) and (max-width: 1200px) {
 .productsss-container{
        /* grid-template-columns: repeat(2,1fr); */
        grid-gap: 20px;

    }

    .productsss-container .card{
        width: 250px;
    }
}
@media screen and (max-width: 800px) {
 .productsss-container{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;

    }

    .productsss-container .card{
        width: 250px;
    }
}
@media screen and (max-width: 600px) {
 .productsss-container{
    display: grid;
        grid-template-columns: 1fr;


    }

     .productsss-container .card{
        width: 300px;
        margin: 0 auto;


        
     }
}