
.productDetails .card{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    grid-column-gap: 20px;
}



@media screen and (max-width: 600px) {
 .productDetails .card{
    display: flex;
    
        /* background: #000; */


    }
.productDetails .card .image-container{
    margin: 0 auto;

}
     
    }


.suggestedProduct .card{
    display: flex;
    flex-direction: column;
    
}


.productDetails .image-container{
    grid-column: 2/3 ;
}
.productDetails .card-body{
    grid-column: 1/2 ;
    grid-row: 1/2;

}

.image-container{
    width: 300px;
}

